/*Geral*/
.logo{
    margin: 10px;
    width: 300px;
    height: 125px;

}
body{
    margin-top: 100px;
    background-image: radial-gradient(circle at top right, #2a5337e6, #0f9952);
    width: 100%;
    height: 300px;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    overflow-x: hidden;

}
/*Menu*/
.dp_Menu{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 150px;
}
.dp_Menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.dp_Menu ul li{
    position: relative;
    top: -90px;
    left: 280px;
    display: inline;
}
.dp_Menu ul li a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 50px;
    position: relative;
    margin-top: 0;
    display: inline-block;
    font-size: 25px;
    margin-left: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    
}
.dp_Menu a:hover{
    transition: step-start, 1s;
    background-color: rgba(0, 255, 0, 0.6);
    padding: 10px;
    font-size: 35px; 
}
.dp_Menu #bt{
    position: fixed;
    left: 1100px ;
    display: flex;
    float: inline-end;
    top: 60px;
}
.dp_Menu #link-bt{
    text-decoration: none;
}
.dp_Menu #link-bt:hover{
    transition: none;
    background-color: none;
}


/*Pagina Principal*/
main{
    margin-top: 40px;
    margin-left: 120px;
}

.card:hover{
    transition: step-start, 1s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(0, 255, 0, 0.6);
    padding: 15px;
    font-size: 32px; 
}

.card {
    margin-bottom: 40px;
    display: inline-block;
    width: 20%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 0px;
    text-align: start;
    margin-left: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
}
  
.card-content {
    cursor: pointer;
}
  
img {

    width: 100%;
    height: 10%;
    border-radius: 15px;
}
  
.card h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Cursos*/
.Curso{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.Curso h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.Curso ol{
    margin-top: 40px;
}
.Curso li{
    margin-top: 10px;
    font-weight: bold;
}
.Curso .descricao{
    position: absolute;
    top: 400px;
    left: 730px;
    font-size: larger;
    font-weight: bold;
   
}
#bt{
    position: relative;
    left: 1000px;
    top: -40px;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/*DropDown*/
